@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/Common.js"></script> 

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/WebManage/WebSiteMgr/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#ImgPr").attr("src", data.Icon);
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
        }
    }); 
</script>
 
<form id="form1" enctype="multipart/form-data">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>网站信息<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">排序</th>
                                <td class="formValue">
                                    <input id="SortCode" name="SortCode" type="text" class="form-control required" placeholder="请输入排序" />
                                </td>
                                <th class="formTitle">简称</th>
                                <td class="formValue">
                                    <input id="ShortName" name="ShortName" type="text" class="form-control required" placeholder="请输入简称" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">名称</th>
                                <td class="formValue">
                                    <input id="FullName" name="FullName" type="text" class="form-control required" placeholder="请输入名称" />
                                </td>
                                <th class="formTitle">所有人</th>
                                <td class="formValue">
                                    <input id="UserName" name="UserName" type="text" class="form-control required" placeholder="请输入所有人" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">域名</th>
                                <td class="formValue">
                                    <input id="UrlAddress" name="UrlAddress" type="text" class="form-control required" placeholder="请输入地址" />
                                </td>
                                <th class="formTitle">备案</th>
                                <td class="formValue">
                                    <input id="Record" name="Record" type="text" class="form-control" placeholder="请输入备案" />
                                </td>
                                @*<th class="formTitle">端口</th>
                                <td class="formValue">
                                    <input id="Point" name="Point" type="text" class="form-control required" placeholder="请输入端口" value="80" />
                                </td>*@
                            </tr>
                            <tr>
                                <th class="formTitle">手机号</th>
                                <td class="formValue">
                                    <input id="Phone" name="Phone" type="text" class="form-control" placeholder="请输入手机号" />
                                </td>
                                <th class="formTitle">邮箱</th>
                                <td class="formValue">
                                    <input id="Email" name="Email" type="text" class="form-control" placeholder="请输入邮箱" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">图标</th>
                                <td class="formValue">
                                    <div>
                                        <div class="sys-div-imgupload">
                                            <div class="sys-div-upload" style="visibility:hidden"> 
                                            </div>
                                            <img id="ImgPr" width="30" height="30" />
                                        </div>
                                    </div>
                                </td>
                                <th class="formTitle" style="height: 35px;">是否启用</th>
                                <td class="formValue" style="padding-top: 1px;">
                                    <div class="ckbox">
                                        <input id="EnabledMark" name="EnabledMark" type="checkbox" checked="checked"><label for="EnabledMark">启用</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    备注
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="Description" name="Description" class="form-control" style="height: 80px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</form>
