@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/datepicker/WdatePicker.js"></script>
<style>
    .Content_Form_divContents {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
</style>
<form id="form1" enctype="multipart/form-data">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>基础信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>SEO信息<span class="chevron"></span></li>
                <li data-target="#step-3"><span class="step">3</span>内容<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">排序</th>
                                <td class="formValue">
                                    <input id="SortCode" name="SortCode" type="text" class="form-control required" placeholder="请输入排序" />
                                </td>
                                <th class="formTitle">名称</th>
                                <td class="formValue">
                                    <input id="FullName" name="FullName" type="text" class="form-control required" placeholder="请输入名称" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">简称</th>
                                <td class="formValue">
                                    <input id="ShortName" name="ShortName" type="text" class="form-control" placeholder="请输入简称" />
                                </td>
                                <th class="formTitle">作者</th>
                                <td class="formValue">
                                    <input id="Author" name="Author" type="text" class="form-control" placeholder="请输入作者" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">时间</th>
                                <td class="formValue">
                                    <input id="EditTime" name="EditTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" />
                                </td>
                                <th class="formTitle" style="height: 35px;">是否发布</th>
                                <td class="formValue" style="padding-top: 1px;">
                                    <div class="ckbox">
                                        <input id="EnabledMark" name="EnabledMark" type="checkbox" checked="checked" data-switch-no-init="true"><label for="EnabledMark">发布</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">图标</th>
                                <td class="formValue">
                                    @*<input id="Icon" name="Icon" type="text" class="form-control" placeholder="请输入图标" />*@
                                    <div>
                                        @*<form action="/WebManage/Content/UploadImg" id="form_uploadimg">*@
                                        <div class="sys-div-imgupload">
                                            <div class="sys-div-upload">
                                                <input id="IconUp" type="file" />请选择图片
                                            </div>
                                            <img id="ImgPr" width="30" height="30" />
                                        </div>
                                        @*</form>*@
                                    </div>
                                </td>
                                <th class="formTitle">附件</th>
                                <td class="formValue">
                                    <div>
                                        <div class="sys-div-imgupload">
                                            <div class="sys-div-upload">
                                                <input id="FileUp" type="file" />请选择文件
                                            </div>
                                            <span id="lbFilePath"></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    备注
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="Description" name="Description" class="form-control" style="height: 80px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">SEO标题</th>
                                <td class="formValue" colspan="3">
                                    <textarea id="SEOTitle" name="SEOTitle" class="form-control" style="height: 80px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">SEO关键字</th>
                                <td class="formValue" colspan="3">
                                    <textarea id="SEOKeyWords" name="SEOKeyWords" class="form-control" style="height: 80px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    SEO备注
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="SEODesc" name="SEODesc" class="form-control" style="height: 80px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-3">
                <div class="Content_Form_divContents">
                    <script id="editorContent" type="text/plain" style="width:100%;height:500px;">
                    </script>
                </div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btn_next" class="btn btn-default btn-next">下一步</a>
            <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
        </div>
    </div>
</form>
@section scripts {
<script src="~/Content/js/uploadPreview.js"></script>
<script src="~/Content/js/ueditor/ueditor.config.js"></script>
<script src="~/Content/js/ueditor/ueditor.all.min.js"></script>
<script src="~/Content/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>

    var keyValue = $.request("keyValue");
    var columnId = $.request("columnId");
    var ue = UE.getEditor('editorContent');
    //对编辑器的操作最好在编辑器ready之后再做
    ue.ready(function () {
        //var editor;
        $(function () {
            initControl();
            if (!!keyValue) {
                $.ajax({
                    url: "/WebManage/Content/GetFormJson",
                    data: { keyValue: keyValue },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        data.Content = htmlDecode(data.Content);
                        insertHtml(data.Content);
                        $("#ImgPr").attr("src", data.Icon);
                        $("#lbFilePath").text(data.FilePath);
                        $("#form1").formSerialize(data);
                    }
                });
            }

            $("#IconUp").uploadPreview({ Img: "ImgPr", Width: 120, Height: 120 });
        })
    });

    function initControl() {
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 2:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var jsonDataIcon = uploadImg("IconUp");
        var jsonDataFile = uploadFile("FileUp");
        if (jsonDataIcon.success == true && jsonDataFile.success == true) {
            var iconData = jsonDataIcon.data;
            var fileData = jsonDataFile.data;
            var postData = $("#form1").formSerialize();
            var contentstrs = getContent();
            postData["Content"] = htmlEncode(contentstrs);
            postData["ColumnId"] = columnId;
            postData["Icon"] = iconData.Sys_FilePath;
            postData["FilePath"] = fileData.Sys_FilePath;

            var upfiles = [];
            if (iconData != null && iconData != undefined) {
                upfiles.push(iconData);
            }
            if (fileData != null && fileData != undefined) {
                upfiles.push(fileData);
            }

            postData["upFileentitys"] = JSON.stringify(upfiles);

            $.submitForm({
                url: "/WebManage/Content/SubmitForm?keyValue=" + keyValue,
                param: postData,
                success: function () {
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            });
        }
    }
    //写入html编辑器内容
    function insertHtml(value) {
        UE.getEditor('editorContent').setContent(value);
    }
    //获取html编辑器内容
    function getContent() {
        return UE.getEditor('editorContent').getContent()
    }
</script>
}
