@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>

    $(function () {
        $('#layout').layout();
        treeView();
        gridList();
    });

    function treeView() {
        $("#itemTree").treeview({
            url: "/WebManage/Columns/GetTreeJson",
            onnodeclick: function (item) {

                var $operate = $(".operate");
                $operate.animate({ "left": '-100.1%' }, 200);
                $("#txt_keyword").val('');
                $('#btn_search').trigger("click");
            }
        });
    }

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "Id", hidden: true, key: true },
                { label: '名称', name: 'FullName', width: 120, align: 'left' },
                {
                    label: '栏目', name: 'ModuleId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.modules[cellvalue] == null ? "" : top.clients.modules[cellvalue].fullname;
                    }
                },
                { label: '作者', name: 'Author', width: 80, align: 'left' },
                {
                    label: '编辑时间', name: 'EditTime', width: 150, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:m:s', newformat: 'Y-m-d H:m:s' }
                },
                {
                    label: '创建时间', name: 'CreatorTime', width: 150, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:m:s', newformat: 'Y-m-d H:m:s' }
                },
                {
                    label: "有效", name: "EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: '连接地址', name: 'UrlPage', width: 150, align: 'left' },
                { label: "备注", name: "Description", index: "Description", width: 200, align: "left", sortable: false }
            ]
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                url: "/WebManage/Content/GetGridJson",
                postData: { itemId: $("#itemTree").getCurrentNode().id, keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btn_add() {
        if ($("#itemTree").getCurrentNode() == undefined || $("#itemTree").getCurrentNode() == null) {
            alert("请选择左侧栏目！");
            return false;
        }
        var type = $("#itemTree").getCurrentNode().value;
        var gridRows = $("#gridList").jqGrid('getGridParam', 'records');
        if (type == 0) {
            alert("栏目为导航，不需要添加内容！");
            return false;
        }
        if (type == 1 && gridRows >= 1) {
            alert("栏目为内容，只能添加一条数据！");
            return false;
        }
        var moduleId = $("#itemTree").getCurrentNode().id;
        var moduleName = $("#itemTree").getCurrentNode().text;
        if (!moduleId) {
            alert("请选择左侧栏目！");
            return false;
        }
        //3为链接
        if (type == 3) {
            $.modalOpen({
                id: "LinkForm",
                title: moduleName + " 》新增连接",
                url: "/WebManage/Content/LinkForm?moduleId=" + moduleId,
                width: "1000px",
                height: "650px",
                btn: null
            });
        } else {
            $.modalOpen({
                id: "Form",
                title: moduleName + " 》新增内容",
                url: "/WebManage/Content/Form?moduleId=" + moduleId,
                width: "1000px",
                height: "650px",
                btn: null
            });
        }
    }

    function btn_edit() {
        var moduleName = $("#itemTree").getCurrentNode().text;
        var keyValue = $("#gridList").jqGridRowValue().Id;
        var type = $("#itemTree").getCurrentNode().value;
        if (moduleName != null && moduleName != undefined && keyValue != null && keyValue != undefined) {
            //3为链接
            if (type == 3) {
                $.modalOpen({
                    id: "LinkForm",
                    title: moduleName + " 》修改连接",
                    url: "/WebManage/Content/LinkForm?keyValue=" + keyValue,
                    width: "1000px",
                    height: "650px",
                    btn: null
                });
            } else {
                $.modalOpen({
                    id: "Form",
                    title: moduleName + " 》修改内容",
                    url: "/WebManage/Content/Form?keyValue=" + keyValue,
                    width: "1000px",
                    height: "650px",
                    btn: null
                });
            }
        } else {
            alert("请选择一条数据！");
        }
    }

    function btn_delete() {
        var moduleName = $("#itemTree").getCurrentNode().text;
        var keyValue = $("#gridList").jqGridRowValue().Id;
        if (moduleName != null && moduleName != undefined && keyValue != null && keyValue != undefined) {
            $.deleteForm({
                url: "/WebManage/Content/DeleteForm",
                param: { keyValue: keyValue },
                success: function () {
                    $("#gridList").resetSelection();
                    $("#gridList").trigger("reloadGrid");
                }
            })
        } else {
            alert("请选择一条数据！");
        }
    }

    function btn_details() {
        var moduleName = $("#itemTree").getCurrentNode().text;
        var keyValue = $("#gridList").jqGridRowValue().Id;
        if (moduleName != null && moduleName != undefined && keyValue != null && keyValue != undefined) {
            $.modalOpen({
                id: "Details",
                title: "查看内容",
                url: "/WebManage/Content/Details?keyValue=" + keyValue,
                width: "1000px",
                height: "650px",
                btn: null,
            });
        } else {
            alert("请选择一条数据！");
        }
    }

    //生成静态页
    function btn_staticpage() {
        var moduleName = $("#itemTree").getCurrentNode().text;
        var keyValue = $("#gridList").jqGridRowValue().Id;
        if (moduleName != null && moduleName != undefined && keyValue != null && keyValue != undefined) {
            var type = $("#itemTree").getCurrentNode().value;
            if (type != 2) {
                alert("栏目只能为列表才能生成静态页！");
                return false;
            }
            $.getStaticPage({
                url: "/WebManage/Content/GetStaticPage",
                param: { keyValue: keyValue },
                success: function () {
                    $("#gridList").resetSelection();
                    $("#gridList").trigger("reloadGrid");
                }
            })
        } else {
            alert("请选择一条数据！");
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
                <div class="btn-group">
                    <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建内容</a>
                </div>
                <div class="operate">
                    <ul class="nav nav-pills">
                        <li class="first">已选中<span>1</span>项</li>
                        <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改内容</a></li>
                        <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除内容</a></li>
                        <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看内容</a></li>
                        <li><a id="NF-StaticPage" authorize="yes" onclick="btn_staticpage()"><i class="fa fa-pencil-square-o"></i>生成静态页</a></li>
                    </ul>
                    <a href="javascript:;" class="close"></a>
                </div>
                <script>$('.toolbar').authorizeButton()</script>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="名称" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
        </div>
    </div>
</div>
