@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/Common.js"></script>
<script src="~/Content/js/uploadPreview.js"></script>
<script>

    var keyValue = $.request("keyValue");
    var columnId = $.request("columnId");
    $(function () { 
        if (!!keyValue) {
            $.ajax({
                url: "/WebManage/Content/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    data.Content = htmlDecode(data.Content);
                    $("#ImgPr").attr("src", data.Icon);
                    $("#form1").formSerialize(data);
                }
            });
        }

        $("#IconUp").uploadPreview({ Img: "ImgPr", Width: 120, Height: 120 });
    })

    function submitForm() {

        if (!$('#form1').formValid()) {
            return false;
        }

        var jsonData = uploadImg("IconUp"); 
        var postData = $("#form1").formSerialize();
        postData["Content"] = htmlEncode(postData["Content"]);
        postData["ColumnId"] = columnId; 
        postData["Icon"] = jsonData.Sys_FilePath;

        postData["Sys_FileName"] = jsonData.Sys_FileName;
        postData["Sys_FileOldName"] = jsonData.Sys_FileOldName;
        postData["Sys_ExtName"] = jsonData.Sys_ExtName;
        postData["Sys_FilePath"] = jsonData.Sys_FilePath;
        postData["Sys_FileMd5"] = jsonData.Sys_FileMd5;
        $.submitForm({
            url: "/WebManage/Content/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    } 

</script>
<form id="form1" enctype="multipart/form-data">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>链接信息<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">排序</th>
                                <td class="formValue">
                                    <input id="SortCode" name="SortCode" type="text" class="form-control required" placeholder="请输入排序" />
                                </td>
                                <th class="formTitle">名称</th>
                                <td class="formValue">
                                    <input id="FullName" name="FullName" type="text" class="form-control required" placeholder="请输入名称" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">地址</th>
                                <td class="formValue" colspan="3">
                                    <input id="UrlAddress" name="UrlAddress" type="text" class="form-control required" placeholder="请输入地址" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">图标</th>
                                <td class="formValue">
                                    <div>
                                        <div class="sys-div-imgupload">
                                            <div class="sys-div-upload">
                                                <input id="IconUp" type="file" />请选择图片
                                            </div>
                                            <img id="ImgPr" width="30" height="30" />
                                        </div>
                                    </div>
                                </td>
                                <th class="formTitle" style="height: 35px;">是否有效</th>
                                <td class="formValue" style="padding-top: 1px;">
                                    <div class="ckbox">
                                        <input id="EnabledMark" name="EnabledMark" type="checkbox" checked="checked"><label for="EnabledMark">有效</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    备注
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="Description" name="Description" class="form-control" style="height: 80px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_finish" class="btn btn-default" onclick="submitForm()">完成</a>
        </div>
    </div>
</form>
