<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/framework-font.css?v=1000000000035" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css?v=1000000000035" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css?v=1000000000035" rel="stylesheet" />
    <link href="~/Content/js/jqgrid/jqgrid.css?v=1000000000035" rel="stylesheet" />
    <link href="~/Content/css/framework-ui.css?v=1000000000035" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap-switch.css?v=1000000000035" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()

</body>
</html>
<script src="~/Content/js/jquery/jquery-2.1.1.min.js?v=1000000000035"></script>
<script src="~/Content/js/bootstrap/bootstrap.js?v=1000000000035"></script>
<script src="~/Content/js/bootstrap/bootstrap-switch.js?v=1000000000035"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js?v=1000000000035"></script>
<script src="~/Content/js/jqgrid/grid.locale-cn.js?v=1000000000035"></script>
<script src="~/Content/js/framework-ui.js?v=1000000000035"></script>
<script src="~/Content/js/Common.js?v=1000000000035"></script>
@RenderSection("scripts", required: false)