<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/framework-font.css?v=100000000005" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap.min.css?v=100000000005" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css?v=100000000005" rel="stylesheet" />
    <link href="~/Content/js/bootstrap/bootstrap-switch.css?v=100000000005" rel="stylesheet" />

</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>

<script src="~/Content/js/jquery/jquery-2.1.1.min.js?v=100000000005"></script>
<script src="~/Content/js/bootstrap/bootstrap.js?v=100000000005"></script>
<script src="~/Content/js/bootstrap/bootstrap-switch.js?v=100000000005"></script>
<script src="~/Content/js/wdtree/tree.js?v=100000000005"></script>
<script src="~/Content/js/framework-ui.js?v=100000000005"></script>
<script src="~/Content/js/framework-clientdata.js"></script>
<script src="~/Content/js/dialog/dialog.js"></script>
<script src="~/Content/js/cookie/jquery.cookie.js"></script>
<script src="~/Content/js/index.js?v=3"></script>
<script src="~/Content/js/indextab.js"></script>
<script src="~/Content/js/loading/pace.min.js"></script>
@RenderSection("scripts", required: false)