<?xml version="1.0" encoding="utf-8"?>
<RedisHostSettings>
  <add key="ReadWriteHosts" value="127.0.0.1:6379" />
  <add key="ReadOnlyHosts" value="127.0.0.1:6379" />
  <add key="ConnectTimeout" value="100" />
  <add key="MaxWritePoolSize" value="100" />
  <add key="MaxReadPoolSize" value="100" />
</RedisHostSettings>