<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session 0、Cookie 1、Redis 2-->
  <add key="LoginProvider" value="2" />
  <!-- 系统缓存方式：Cache 0 默认、Redis 1-->
  <add key="Sys_CacheType" value="1" />
  <!-- 系统数据库类型：MySql、SqlServer-->
  <add key="Sys_DBType" value="MySql" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 数据库超时间-->
  <add key="CommandTimeout" value="180" />
  <!--启用IP过滤 -->
  <add key="IsIPFilter" value="false" />
  <!--是否处理url -->
  <add key="IsProRequest" value="true" />
  <!--超级管理员用户名 -->
  <add key="SystemUserName" value="adminGt" />
  <!--超级管理员用户名 -->
  <add key="SystemUserPassword" value="0d3af78c662e0e98b2c610fd74329b21" />

  <!-- PanGu配置路径-->
  <add key="PanguXml" value="/Resource/Lucence/" />
  <!-- PanGu字典路径-->
  <add key="PanguDicPath" value="/Resource/Lucence/Dictionaries/" />
  <!-- Lucence索引路径-->
  <add key="LucenceIndexPath" value="/Resource/Lucence/Index/{0}/" />
  <!-- 全站搜索地址 -->
  <add key="WebSiteSearchPath" value="Search" />

  <!-- Redis 主IP端口-->
  <add key="ReadWriteHosts" value="127.0.0.1:6379" />
  <!-- Redis 从集群IP端口-->
  <add key="ReadOnlyHosts" value="127.0.0.1:6379" />
  <!-- Redis 连接超时时间-->
  <add key="ConnectTimeout" value="100" />
  <!-- Redis 最大写连接池数量-->
  <add key="MaxWritePoolSize" value="100" />
  <!-- Redis 最大读连接池数量-->
  <add key="MaxReadPoolSize" value="100" />
  <!--是否记录请求记录 -->
  <add key="IsProRequestLog" value="false" />
  <!-- ================== 2：系统参数配置 ================== -->
  <!-- 联系我们 -->
  <add key="Contact" value="" />
  <!-- 软件名称 -->
  <add key="SoftName" value="CMS快速开发框架" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 软件授权码 测试备用 -->
  <add key="LicenceKey" value="83eda07f-ead3-4050-bcee-4f41e57a7e16" />
  <!-- ================== 3：外部邮件参数 ================== -->
  <!-- 设置邮箱名称 -->
  <add key="MailName" value="邮件中心" />
  <!-- 设置邮箱地址 -->
  <add key="MailUserName" value="" />
  <!-- 设置邮箱密码 -->
  <add key="MailPassword" value="" />
  <!-- 设置邮箱主机 -->
  <add key="MailHost" value="" />
  <!-- 设置留言间隔时长 单位：秒 -->
  <add key="MessageTime" value="60" />

  <!-- ================== 4：CMS配置参数 ================== -->
  <!-- 后台可登陆域名 *：全部 以|分割-->
  <add key="LoginHost" value="*" />
  <!-- 是否启用端口 false：不启用 true：启用-->
  <add key="IsOpenPort" value="true" />
  <!--静态页面缓存路径-->
  <add key="htmlSrc" value="\Html\"/>
  <!--网站模板资源文件路径-->
  <add key="htmlSysContentSrc" value="\HtmlContent\SysTemplet\"/>
  <!--网站资源文件路径-->
  <add key="htmlContentSrc" value="\HtmlContent\WebSiteTemplet\"/>
  <!--静态页面相对路径-->
  <add key="htmlSrcPath" value="\"/>
  <!--网站协议-->
  <add key="WebUrlHttp" value="http://"/>
  <!--网站根路径-->
  <add key="WebUrl" value="http://{0}"/>
  <!--图片上传路径-->
  <add key="UploadImg" value="~/Uploads/Images/"/>
  <!--图片上传格式-->
  <add key="UploadImgFormat" value=".png|.jpg"/>
  <!--图片上传大小 单位 KB-->
  <add key="UploadImgSize" value="0"/>
  <!--文件上传路径-->
  <add key="UploadFile" value="~/Uploads/Files/"/>
  <!--文件上传格式-->
  <add key="UploadFileFormat" value=".txt|.gif|.png|.jpg|.css|.js|.eot|.svg|.ttf|.woff|"/>
  <!--文件上传大小 单位 KB-->
  <add key="UploadFileSize" value="0"/>
  <!--URL扩展名  多个时以 | 分割 如：html|jpg-->
  <add key="UrlExtended" value="html"/>
  <!--是否处理静态页面带有参数情况 true:处理时去除参数 false:不处理-->
  <add key="IsHandleUrlPara" value="true"/>
  <!--404页面-->
  <add key="SysPage_NoFind" value="/SysPage/404/404.html"/>
  <!--500页面-->
  <add key="SysPage_Error" value="/SysPage/500/500.html"/>
  <!--维护页面-->
  <add key="SysPage_Service" value="/SysPage/Service/Service.html"/>
  <!--请求url模块黑名单-->
  <add key="UrlBlackName" value="__browserLink"/>
  <!--系统后台保留url-->
  <add key="SystemHaveUrlName" value="Content|Login|WebManage|SystemSecurity|SystemManage|ReportManage|ExampleManage|Configs|Areas|App_Start|SysPage|Views|Home"/>
  <!--系统删除文件保存路径-->
  <add key="SysFileForDel" value="\SysFileForDel\"/>

  <!-- ================== 5：CMS站点数量参数 ================== -->
  <!--系统用户可添加网站数-->
  <add key="WebSiteNum_SystemUser" value="100"/>
  <!--站点用户可添加网站数-->
  <add key="WebSiteNum_WebSiteUser" value="0"/>
  <!--注册用户可添加网站数-->
  <add key="WebSiteNum_RegisterUser" value="1"/>
  <!--普通会员可添加网站数-->
  <add key="WebSiteNum_OrdinaryUser" value="3"/>
  <!--金牌会员可添加网站数-->
  <add key="WebSiteNum_GoldUser" value="5"/>
  <!--钻石会员可添加网站数-->
  <add key="WebSiteNum_DiamondUser" value="10"/>
  <!--网站空间默认大小 单位 M-->
  <add key="WebSiteSize" value="1024"/>
</appSettings>