@{
    ViewBag.Title = "站点首页";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>站点首页</title>
    <script src="~/Content/js/echarts/echarts.min.js"></script>
    <link href="~/Content/css/Common.css" rel="stylesheet" />
</head>
<body>
    <div id="areascontent">
        <div class="rows" style="margin-bottom: 1%; border: 1px solid #e6e6e6; overflow: hidden; padding-left: 1px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart fa-lg" style="padding-right: 5px;"></i>关键数据实时指标
                    <div style="float: right; position: relative; top: -4px; right: 0px;">
                        @*<iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=1" width="330" height="35" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>*@
                    </div>
                </div>
                <div class="panel-body">
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #fc8675;">
                            <h2 class="m-top-none">@ViewBag.ToDayNum</h2>
                            <h5>当日访问量</h5>
                            <div class="stat-icon">
                                <i class="fa fa-line-chart fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #6bafbd;">
                            <h2 class="m-top-none">@ViewBag.AllNum</h2>
                            <h5>总访问量</h5>
                            <div class="stat-icon">
                                <i class="fa fa-area-chart fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #f3ce85;">
                            <h2 class="m-top-none">@ViewBag.ContentNum</h2>
                            <h5>发布文章数</h5>
                            <div class="stat-icon">
                                <i class="fa fa-paste fa-3x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-stats">
                        <div class="dashboard-stats-item" style="background-color: #949FB1;">
                            <h2 class="m-top-none">@ViewBag.MessageNum</h2>
                            <h5>总留言数</h5>
                            <div class="stat-icon">
                                <i class="fa fa-qq fa-3x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="margin-bottom: 1%; overflow: hidden;">
            <div style="float: left; width:100%;">
                <div style="height: 350px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-lg" style="padding-right: 5px;"></i>今日访问量统计
                        </div>
                        <div class="panel-body" style="padding-bottom: 0px;">
                            <div id="main" style="width: 100%;height:285px; padding-right: 10px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts {
    <script type="text/javascript">

        $(function () {
            var htemp = $(window).height() - 128;
            $("#main").height(htemp);
            GetDataByDates();
        });
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        option = {
            title: {
                text: '今日访问量统计'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: []
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['00时', '01时', '02时', '03时', '04时', '05时', '06时', '07时', '08时', '09时', '10时', '11时', '12时', '13时', '14时', '15时', '16时', '17时', '18时', '19时', '20时', '21时', '22时', '23时']
            },
            yAxis: {
                type: 'value'
            },
            series: []
        };
        function GetDataByDates() {
            $.getPostAndData({
                url: "/Home/GetWebSiteAccessToDates",
                param: {},
                success: function (data) {
                    var da = eval(data);
                    option.series = da.data
                    option.legend.data = da.name
                    myChart.setOption(option);
                }
            })
        }
    </script>
}