
/*首页样式*/
.fix{
	width: 1024px;
	height: 302px;
}
.Content strong{
	color: #323232;
	font-size: 26px;
}
.Content span{
	color: #A6A6A6;
	padding-left: 25px;
}
.fix ul{
	margin-top: 25px ;
}
.fix ul li{
	width: 235px;
	height: 240px;
	float: left;
	margin-right: 22px;
	border: 2px solid #A8D6EB;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px ;
}
.fix ul li:last-child{
	margin-right: 0px;
}
.fix ul li img{
	display:block;
	margin: 10px;
}
.fix b{
	display: block;
	text-align: center;
	line-height: 40px;
}
/*关于我们*/
.about{
	margin-top: 25px;
}
.about .us{
	width: 1022px;
	height: 178px;
	margin-top: 25px;
	border: 2px solid #A8D6EB;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px ;
}
.about .us img{
	margin: 10px 25px 10px 10px;
	float: left;
	display:inline-block;
}
.about .us p{
	display: block;
  padding: 15px 20px 15px 30px;
  line-height: 30px;
  text-indent: 2em;
  text-align: justify;
}
/*pdd*/
.pdd{
	width: 1024px;
	height: 295px;
}
/*新闻资讯*/
.news{
	width: 356px;
	height: 266px;
	margin-top: 25px;
	float: left;
	border: 1px solid #A8D6EB;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px ;
}
.news .head-title{
	background-color: #D5EDF7;
}
.news .head-title i{
	float: right;
	line-height: 35px;
	padding-right: 10px ;
}
.news img{
	margin: 5px 5px 0px 5px;
}
.news ul{
	padding: 15px 15px 15px 5px;
}
.news ul li{
	display: block;
	border-bottom: 1px dotted #2870BC;
	background: url(../img/flow.png) no-repeat center left;
	line-height: 35px;
	padding-left: 15px;
}
.news ul li span{
	float: right;
}
/*维修常识*/
.sense{
	width: 356px;
	height: 266px;
	margin: 25px 0px 0px 20px;
	float: left;
	border: 1px solid #A8D6EB;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px ;
}
.sense .head-title{
	background-color: #D5EDF7;
}
.sense .head-title i{
	float: right;
	line-height: 35px;
	padding-right: 10px ;
}
.sense img{
	margin: 5px;
}
.sense ul{
	padding: 15px 15px 15px 5px;
}
.sense ul li{
	display: block;
	border-bottom: 1px dotted #2870BC;
	background: url(../img/flow.png) no-repeat center left;
	line-height: 35px;
	padding-left: 15px;
}
.sense ul li span{
	float: right;
}
/*联系我们*/
.connection{
	width: 266px;
	height: 266px;
	margin: 25px 0px 0px 20px;
	float: left;
	border: 1px solid #A8D6EB;
	border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px ;
}
.connection .head-title{
	background-color: #D5EDF7;
}
.connection img{
	margin: 5px;
}
.connection ul{
	padding: 15px;
}
.connection ul li{
	line-height: 30px;
}
/*--首页样式结束*/




/*公司介绍样式*/
.cenav{
  width:198px;
  height: 326px;
  float: left;
  border: 1px solid #DCD8D5;
}
.cenav ul li{
	padding-left: 15px;
}
.cenav ul li:hover{
	background-color: #75AADC;
}
.cenav ul li a{
	display: block;
	line-height: 38px;
}
.cenav ul li a:hover{
	color: #fff;
	display: block;
}
.cenav ul li:first-child{
	background-color: #75AADC;
	margin-bottom: 5px;
	line-height: 35px;
	color: #fff;
}
.cenav ul li:last-child{
	padding-left: 0px;
	background-color: #fff;
}
.box-txt{
	width: 770px;
	height: auto;
	float: left;
	margin-left: 35px;
}
.js{
	width: 770px;
	height: auto;
	float: left;
}
.js span{
	color: #28AAF4;
	font-size: 24px;
	display: block;
	font-weight: bold;
	padding:25px;
	letter-spacing: 2px;
}
.js img{
	float: left;
}
.js p{
	width: 420px;
	text-indent: 2em;
	float: left;
	padding-left: 20px;
	line-height: 30px;
	text-align: justify;
}
.jj{
	width: 770px;
	height: auto;
	float: left;
	padding-bottom: 50px;
}
.jj span{
	color: #28AAF4;
	font-size: 24px;
	display: block;
	font-weight: bold;
	padding:25px;
	letter-spacing: 2px;
}
.jj p{
	text-indent: 2em;
	line-height: 30px;
	text-align: justify;
}
.jj p:nth-last-child(2){
	padding-top: 50px;
}
/*公司介绍样式结束*/


/*新闻资讯1*/
.info{
	width: 777px;
	height: auto;
	float: left;
	margin-left: 35px;
}
.zx h1{
	font-size: 24px;
	font-family: "微软雅黑";
	color: #28aaf4;
	font-weight :600;
	letter-spacing: 2px;
	padding-top: 25px;
}
.info .zx{
	width: 777px;
	height: 630px;
	border-bottom: 1px solid #7a7a7b;
}
.zx h2{
	font-size: 18px;
  color: #353536;
  text-indent: 2em;
  line-height: 35px;
	margin-top: 10px;
	text-align: center;
}
.info p{
	font-size: 14px;
  color: #353536;
  text-indent: 30px;
  line-height: 35px;
	margin-top: 10px;
	text-align: justify;
}
.info .hr{
	padding-top: 80px;
}
.info a{
	font-size: 14px;
	font-family: "宋体";
  color: #353536;
  float: right;
  text-indent: 30px;
  line-height: 35px;
	margin-top: 20px;
}
 


/*新闻列表*/
.gather{
	width: 777px;
	height: auto;
	float: left;
	margin-left: 35px;
}
.page  li{
	width: 750px;
	height: auto;
	display: block;
	border-bottom: 1px dotted #2870BC;
	background: url(../img/flow.png) no-repeat center left;
	line-height: 35px;
	padding-left: 15px;
}
.page span{
	float: right;
}
.page h1{
	font-size: 24px;
	font-family: "微软雅黑";
	color: #28aaf4;
	font-weight :600;
	letter-spacing: 2px;
	padding-top: 25px;
}
.slew{
	width: 195px;
	height: auto;
    float: right;
    margin-top: 20px;
}
.slew a{
	letter-spacing: 4px;
}


/*维修系列*/
.wxxl{
	width: 770px;
	height: auto;
	float: left;
}
.wxxl span{
	color: #28AAF4;
	font-size: 24px;
	display: block;
	font-weight: bold;
	padding:25px;
	letter-spacing: 2px;
}
.wxxl ul{
	float: left;
	margin-left: 45px;
}
.wxxl ul li{
	width: 206px;
	height: 176px;
	float: left;
	margin:0px 33px 30px 0px;
}
.wxxl ul li img{
	float: left;
}
.wxxl ul li b{
	display: block;
	text-align: center;
    line-height: 40px;
}
.display{
	width: 770px;
	height: auto;
	float: left;
}
.display span{
	color: #28AAF4;
	font-size: 24px;
	display: block;
	font-weight: bold;
	padding:25px;
	letter-spacing: 2px;
}
.display ul{
	float: left;
	margin-left: 45px;
}
.display ul li{
	width: 194px;
	height: 176px;
	float: left;
	margin:0px 35px 30px 0px;
}
.display ul li:nth-child(4){
	width: 121px;
	height: 120px;
	float: left;
	margin:0px 55px 30px 0px;
}
.display ul li:nth-child(5){
	width: 121px;
	height: 120px;
	float: left;
	margin:0px 55px 30px 0px;
}
.display ul li:nth-child(6){
	width: 121px;
	height: 120px;
	float: left;
	margin:0px 55px 30px 0px;
}
.display ul li:nth-child(7){
	width: 121px;
	height: 120px;
	float: left;
	margin:0px 55px 30px 0px;
}
.display ul li b{
	display: block;
	text-align: center;
	line-height: 40px;
}
