@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="form1">
    <div>
        <div class="widget-body">
            <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
                <ul class="steps">
                    <li data-target="#step-1" class="active"><span class="step">1</span>扩展信息<span class="chevron"></span></li>
                </ul>
            </div>
            <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
                <div class="step-pane active" id="step-1">
                    <div class="panel panel-default">
                        <div class="panel-body" style="width: 98%;">
                            <table class="form">
                                <tr>
                                    <th class="formTitle">扩展内容1</th>
                                    <td class="formValue">
                                        <input id="Description1" name="Description1" type="text" class="form-control" placeholder="扩展内容1" value="扩展内容1" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description1" name="ckIsEnable_Description1" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description1">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容2</th>
                                    <td class="formValue">
                                        <input id="Description2" name="Description2" type="text" class="form-control" placeholder="扩展内容2" value="扩展内容2" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description2" name="ckIsEnable_Description2" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description2">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容3</th>
                                    <td class="formValue">
                                        <input id="Description3" name="Description3" type="text" class="form-control" placeholder="扩展内容3" value="扩展内容3" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description3" name="ckIsEnable_Description3" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description3">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容4</th>
                                    <td class="formValue">
                                        <input id="Description4" name="Description4" type="text" class="form-control" placeholder="扩展内容4" value="扩展内容4" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description4" name="ckIsEnable_Description4" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description4">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容5</th>
                                    <td class="formValue">
                                        <input id="Description5" name="Description5" type="text" class="form-control" placeholder="扩展内容5" value="扩展内容5" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description5" name="ckIsEnable_Description5" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description5">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容6</th>
                                    <td class="formValue">
                                        <input id="Description6" name="Description6" type="text" class="form-control" placeholder="扩展内容6" value="扩展内容6" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description6" name="ckIsEnable_Description6" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description6">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容7</th>
                                    <td class="formValue">
                                        <input id="Description7" name="Description7" type="text" class="form-control" placeholder="扩展内容7" value="扩展内容7" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description7" name="ckIsEnable_Description7" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description7">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容8</th>
                                    <td class="formValue">
                                        <input id="Description8" name="Description8" type="text" class="form-control" placeholder="扩展内容8" value="扩展内容8" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description8" name="ckIsEnable_Description8" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description8">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容9</th>
                                    <td class="formValue">
                                        <input id="Description9" name="Description9" type="text" class="form-control" placeholder="扩展内容9" value="扩展内容9" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description9" name="ckIsEnable_Description9" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description9">启用</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">扩展内容10</th>
                                    <td class="formValue">
                                        <input id="Description10" name="Description10" type="text" class="form-control" placeholder="扩展内容10" value="扩展内容10" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description10" name="ckIsEnable_Description10" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description10">启用</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-button" id="wizard-actions">
                <a id="btn_finish" class="btn btn-default" onclick="submitForm()">完成</a>
            </div>
        </div>
    </div>
</form>
@section scripts {
    <script type="text/javascript">

        $(function () {
            $.ajax({
                url: "/WebManage/WebSiteConfig/GetAdvancedContentConfig",
                data: {},
                dataType: "json",
                async: false,
                success: function (data) {
                    var dataT = eval('(' + data + ')');
                    $("#form1").formSerialize(dataT);
                }
            });
        })

        //提交
        function submitForm() {
            if (!$('#form1').formValid()) {
                return false;
            }
            $.submitForm({
                url: "/WebManage/WebSiteConfig/SaveAdvancedContentConfig",
                param: $("#form1").formSerialize(),
                success: function () {
                    $.loading(false);
                }
            })
        }
         
    </script>
}