@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
    }

<form id="form1">
    <div class="mail-box">
        <div class="mail-header">全站搜索配置</div>
        <div class="mail-body">
            <table class="form">
                <tr>
                    <th class="formTitle">开关</th>
                    <td class="formValue">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a onclick="createqrcode()" class="btn  btn-primary" style="padding-left:10px;padding-right:10px;font-size:12px;line-height: 20px;">开启</a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">索引</th>
                    <td class="formValue">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <a onclick="createqrcode()" class="btn  btn-primary" style="padding-left:10px;padding-right:10px;font-size:12px;line-height: 20px;">生成</a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
    </div>
</form>
@section scripts {
}