@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
@model CMS.Domain.Entity.WebManage.WebSiteConfigEntity
<form id="form1">
    <div class="mail-box">
        <div class="mail-header">通用配置</div>
        <div class="mail-body">
            <table class="form">
                <tr>
                    <th class="formTitle">暂停维护</th>
                    <td class="formValue">
                        @if (Model.ServiceEnabledMark)
                        {
                            <input id="ckIsServiceEnable" type="checkbox" checked data-on-text="Yes" data-off-text="No">
                        }
                        else
                        {
                            <input id="ckIsServiceEnable" type="checkbox" data-on-text="Yes" data-off-text="No">
                        }
                    </td>

                </tr>
                <tr>
                    <th class="formTitle">留言板</th>
                    <td class="formValue">
                        @if (Model.MessageEnabledMark)
                        {
                            <input id="ckIsMessageEnable" type="checkbox" checked data-on-text="Yes" data-off-text="No">
                        }
                        else
                        {
                            <input id="ckIsMessageEnable" type="checkbox" data-on-text="Yes" data-off-text="No">
                        }
                    </td>
                    <th class="formTitle">留言板配置</th>
                    <td class="formValue">
                        <a onclick="setMessageConfig()" class="btn  btn-primary">留言板配置</a>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">高级列表</th>
                    <td class="formValue">
                        @if (Model.AdvancedContentEnabledMark)
                        {
                            <input id="ckIsAdvancedContentEnable" type="checkbox" checked data-on-text="Yes" data-off-text="No">
                        }
                        else
                        {
                            <input id="ckIsAdvancedContentEnable" type="checkbox" data-on-text="Yes" data-off-text="No">
                        }
                    </td>
                    <th class="formTitle">高级列表配置</th>
                    <td class="formValue">
                        <a onclick="setAdvancedContentConfig()" class="btn  btn-primary">高级列表配置</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mail-box">
        <div class="mail-header">全站搜索配置</div>
        <div class="mail-body">
            <table class="form">
                <tr>
                    <th class="formTitle">是否启用</th>
                    <td class="formValue">
                        @if (Model.SearchEnabledMark)
                        {
                            <input id="ckIsSearchEnable" type="checkbox" checked data-on-text="Yes" data-off-text="No">
                        }
                        else
                        {
                            <input id="ckIsSearchEnable" type="checkbox" data-on-text="Yes" data-off-text="No">
                        }
                    </td>
                    <th class="formTitle">生成索引</th>
                    <td class="formValue">
                        <a onclick="createIndex()" class="btn  btn-primary">立即生成</a>
                    </td>
                </tr>
                <tr></tr>
            </table>
        </div>
    </div>
</form>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#ckIsSearchEnable").on('switchChange.bootstrapSwitch', function (e, state) {
                setSearchEnabled(state);
            });
            $("#ckIsServiceEnable").on('switchChange.bootstrapSwitch', function (e, state) {
                setServiceEnabled(state);
            });
            $("#ckIsMessageEnable").on('switchChange.bootstrapSwitch', function (e, state) {
                setMessageEnabled(state);
            });
            $("#ckIsAdvancedContentEnable").on('switchChange.bootstrapSwitch', function (e, state) {
                setAdvancedContentEnabled(state);
            });
        });

        //设置全站搜索开关
        function setSearchEnabled(state) {
            $.getPostNoConfirm({
                url: "/WebManage/WebSiteConfig/UpdateSearchEnabled",
                param: { searchEnabled: state },
                success: function (data) {
                    $.modalAlert(data.message);
                }
            })
        }
        //设置留言板标识
        function setMessageEnabled(state) {
            $.getPostNoConfirm({
                url: "/WebManage/WebSiteConfig/UpdateMessageEnabled",
                param: { messageEnabled: state },
                success: function (data) {
                    $.modalAlert(data.message);
                }
            })
        }

        //设置站点维护
        function setServiceEnabled(state) {
            $.getPostNoConfirm({
                url: "/WebManage/WebSiteConfig/UpdateServiceEnabled",
                param: { serviceEnabled: state },
                success: function (data) {
                    $.modalAlert(data.message);
                }
            })
        }

        //设置高级列表标识
        function setAdvancedContentEnabled(state) {
            $.getPostNoConfirm({
                url: "/WebManage/WebSiteConfig/UpdateAdvancedContentEnabled",
                param: { advancedContentEnabled: state },
                success: function (data) {
                    $.modalAlert(data.message);
                }
            })
        }

        //高级列表配置
        function setAdvancedContentConfig() {
            $.getPostNoConfirm({
                url: "/WebManage/WebSiteConfig/IsAdvancedContent",
                param: {},
                success: function (data) {
                    if (data.message == 'true') {
                        $.modalOpen({
                            id: "MessageConfig",
                            title: "高级列表配置",
                            url: "/WebManage/WebSiteConfig/AdvancedContentConfig",
                            width: "600px",
                            height: "550px",
                            btn: null
                        });
                    } else {
                        $.modalAlert('请先开启高级列表功能！');
                    }
                }
            })
        }

        //留言板配置
        function setMessageConfig() {
            $.getPostNoConfirm({
                url: "/WebManage/WebSiteConfig/IsMessage",
                param: {},
                success: function (data) {
                    if (data.message == 'true') {
                        $.modalOpen({
                            id: "MessageConfig",
                            title: "留言板配置",
                            url: "/WebManage/WebSiteConfig/MessageConfig",
                            width: "800px",
                            height: "550px",
                            btn: null
                        });
                    } else {
                        $.modalAlert('请先开启留言板功能！');
                    }
                }
            })
        }

        //立即生成索引
        function createIndex() {
            $.getPost({
                url: "/WebManage/WebSiteConfig/CreateSearchIndex",
                param: {},
                success: function (data) {
                    $.modalAlert(data.message);
                }
            })
        }
    </script>
}