@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<form id="form1">
    <div>
        <div class="widget-body">
            <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
                <ul class="steps">
                    <li data-target="#step-1" class="active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
                    <li data-target="#step-2"><span class="step">2</span>扩展信息<span class="chevron"></span></li>
                </ul>
            </div>
            <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
                <div class="step-pane active" id="step-1">
                    <div class="panel panel-default">
                        <div class="panel-body" style="width: 98%;">
                            <table class="form">
                                <tr>
                                    <th class="formTitle">姓名</th>
                                    <td class="formValue">
                                        <input id="UserName" name="UserName" type="text" class="form-control" placeholder="姓名" value="姓名" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_UserName" name="ckIsEnable_UserName" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_UserName">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_UserName" name="ckIsShowList_UserName" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_UserName">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_UserName" name="ckIsShowView_UserName" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_UserName">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">电话</th>
                                    <td class="formValue">
                                        <input id="UserPhone" name="UserPhone" type="text" class="form-control" placeholder="电话" value="电话" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_UserPhone" name="ckIsEnable_UserPhone" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_UserPhone">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_UserPhone" name="ckIsShowList_UserPhone" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_UserPhone">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_UserPhone" name="ckIsShowView_UserPhone" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_UserPhone">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">手机</th>
                                    <td class="formValue">
                                        <input id="UserMobile" name="UserMobile" type="text" class="form-control" placeholder="手机" value="手机" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_UserMobile" name="ckIsEnable_UserMobile" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_UserMobile">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_UserMobile" name="ckIsShowList_UserMobile" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_UserMobile">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_UserMobile" name="ckIsShowView_UserMobile" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_UserMobile">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">邮箱</th>
                                    <td class="formValue">
                                        <input id="UserEmaile" name="UserEmaile" type="text" class="form-control" placeholder="邮箱" value="邮箱" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_UserEmaile" name="ckIsEnable_UserEmaile" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_UserEmaile">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_UserEmaile" name="ckIsShowList_UserEmaile" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_UserEmaile">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_UserEmaile" name="ckIsShowView_UserEmaile" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_UserEmaile">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">传真</th>
                                    <td class="formValue">
                                        <input id="UserFax" name="UserFax" type="text" class="form-control" placeholder="传真" value="传真" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_UserFax" name="ckIsEnable_UserFax" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_UserFax">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_UserFax" name="ckIsShowList_UserFax" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_UserFax">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_UserFax" name="ckIsShowView_UserFax" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_UserFax">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">类别</th>
                                    <td class="formValue">
                                        <input id="MsgType" name="MsgType" type="text" class="form-control" placeholder="类别" value="类别" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_MsgType" name="ckIsEnable_MsgType" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_MsgType">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_MsgType" name="ckIsShowList_MsgType" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_MsgType">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_MsgType" name="ckIsShowView_MsgType" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_MsgType">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">公司</th>
                                    <td class="formValue">
                                        <input id="CompanyName" name="CompanyName" type="text" class="form-control" placeholder="公司" value="公司" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_CompanyName" name="ckIsEnable_CompanyName" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_CompanyName">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_CompanyName" name="ckIsShowList_CompanyName" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_CompanyName">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_CompanyName" name="ckIsShowView_CompanyName" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_CompanyName">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">地址</th>
                                    <td class="formValue">
                                        <input id="Address" name="Address" type="text" class="form-control" placeholder="地址" value="地址" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Address" name="ckIsEnable_Address" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Address">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Address" name="ckIsShowList_Address" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Address">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Address" name="ckIsShowView_Address" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Address">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">网址</th>
                                    <td class="formValue">
                                        <input id="WebSiteUrl" name="WebSiteUrl" type="text" class="form-control" placeholder="网址" value="网址" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_WebSiteUrl" name="ckIsEnable_WebSiteUrl" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_WebSiteUrl">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_WebSiteUrl" name="ckIsShowList_WebSiteUrl" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_WebSiteUrl">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_WebSiteUrl" name="ckIsShowView_WebSiteUrl" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_WebSiteUrl">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">内容</th>
                                    <td class="formValue">
                                        <input id="Content" name="Content" type="text" class="form-control" placeholder="内容" value="内容" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Content" name="ckIsEnable_Content" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Content">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Content" name="ckIsShowList_Content" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Content">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Content" name="ckIsShowView_Content" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Content">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="step-pane" id="step-2">
                    <div class="panel panel-default">
                        <div class="panel-body" style="width: 98%;">
                            <table class="form">
                                <tr>
                                    <th class="formTitle">字段1</th>
                                    <td class="formValue">
                                        <input id="Description1" name="Description1" type="text" class="form-control" placeholder="字段1" value="字段1" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description1" name="ckIsEnable_Description1" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description1">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description1" name="ckIsShowList_Description1" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description1">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description1" name="ckIsShowView_Description1" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description1">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段2</th>
                                    <td class="formValue">
                                        <input id="Description2" name="Description2" type="text" class="form-control" placeholder="字段2" value="字段2" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description2" name="ckIsEnable_Description2" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description2">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description2" name="ckIsShowList_Description2" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description2">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description2" name="ckIsShowView_Description2" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description2">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段3</th>
                                    <td class="formValue">
                                        <input id="Description3" name="Description3" type="text" class="form-control" placeholder="字段3" value="字段3" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description3" name="ckIsEnable_Description3" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description3">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description3" name="ckIsShowList_Description3" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description3">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description3" name="ckIsShowView_Description3" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description3">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段4</th>
                                    <td class="formValue">
                                        <input id="Description4" name="Description4" type="text" class="form-control" placeholder="字段4" value="字段4" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description4" name="ckIsEnable_Description4" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description4">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description4" name="ckIsShowList_Description4" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description4">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description4" name="ckIsShowView_Description4" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description4">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段5</th>
                                    <td class="formValue">
                                        <input id="Description5" name="Description5" type="text" class="form-control" placeholder="字段5" value="字段5" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description5" name="ckIsEnable_Description5" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description5">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description5" name="ckIsShowList_Description5" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description5">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description5" name="ckIsShowView_Description5" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description5">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段6</th>
                                    <td class="formValue">
                                        <input id="Description6" name="Description6" type="text" class="form-control" placeholder="字段6" value="字段6" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description6" name="ckIsEnable_Description6" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description6">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description6" name="ckIsShowList_Description6" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description6">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description6" name="ckIsShowView_Description6" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description6">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段7</th>
                                    <td class="formValue">
                                        <input id="Description7" name="Description7" type="text" class="form-control" placeholder="字段7" value="字段7" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description7" name="ckIsEnable_Description7" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description7">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description7" name="ckIsShowList_Description7" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description7">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description7" name="ckIsShowView_Description7" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description7">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段8</th>
                                    <td class="formValue">
                                        <input id="Description8" name="Description8" type="text" class="form-control" placeholder="字段8" value="字段8" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description8" name="ckIsEnable_Description8" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description8">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description8" name="ckIsShowList_Description8" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description8">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description8" name="ckIsShowView_Description8" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description8">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段9</th>
                                    <td class="formValue">
                                        <input id="Description9" name="Description9" type="text" class="form-control" placeholder="字段9" value="字段9" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description9" name="ckIsEnable_Description9" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description9">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description9" name="ckIsShowList_Description9" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description9">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description9" name="ckIsShowView_Description9" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description9">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="formTitle">字段10</th>
                                    <td class="formValue">
                                        <input id="Description10" name="Description10" type="text" class="form-control" placeholder="字段10" value="字段10" />
                                    </td>
                                    <td>
                                        <div class="ckbox">
                                            <input class="ckIsEnable" id="ckIsEnable_Description10" name="ckIsEnable_Description10" type="checkbox" data-switch-no-init="true"><label for="ckIsEnable_Description10">启用</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowList" id="ckIsShowList_Description10" name="ckIsShowList_Description10" type="checkbox" data-switch-no-init="true"><label for="ckIsShowList_Description10">列表显示</label>
                                        </div>
                                        <div class="ckbox">
                                            <input class="ckIsShowView" id="ckIsShowView_Description10" name="ckIsShowView_Description10" type="checkbox" data-switch-no-init="true"><label for="ckIsShowView_Description10">详情显示</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-button" id="wizard-actions">
                <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
                <a id="btn_next" class="btn btn-default btn-next">下一步</a>
                <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
            </div>
        </div>
    </div>
</form>
@section scripts {
    <script type="text/javascript">

        $(function () {
            initControl();

            $.ajax({
                url: "/WebManage/WebSiteConfig/GetMessageConfig",
                data: {},
                dataType: "json",
                async: false,
                success: function (data) {
                    var dataT = eval('(' + data + ')');
                    $("#form1").formSerialize(dataT);
                }
            });
        })
        function initControl() {
            $('#wizard').wizard().on('change', function (e, data) {
                var $finish = $("#btn_finish");
                var $next = $("#btn_next");
                if (data.direction == "next") {
                    switch (data.step) {
                        case 1:
                            if (!$('#form1').formValid()) {
                                return false;
                            }
                            $finish.show();
                            $next.hide();
                            break;
                        default:
                            break;
                    }
                } else {
                    $finish.hide();
                    $next.show();
                }
            });
        }

        //提交
        function submitForm() {
            if (!$('#form1').formValid()) {
                return false;
            }
            $.submitForm({
                url: "/WebManage/WebSiteConfig/SaveMessageConfig",
                param: $("#form1").formSerialize(),
                success: function () {
                    $.loading(false);
                }
            })
        }

        //获取表单数据
        function getFormData() {
            var datas = [];


        }
    </script>
}