@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-upload" class="btn btn-primary dropdown-text" onclick="btn_upload()"><i class="fa fa-upload"></i>上传资源</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-delete" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除资源</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
    <input id="FilesUp" style="display:none" type="file" multiple="true" />
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
@section scripts {
    <script>
        $(function () {
            gridList();
            $("#FilesUp").on("change", function () {
                fileUploads();
            });
        })

        function gridList() {
            var $gridList = $("#gridList");
            $gridList.dataTreeGrid({
                ExpandColumn: "DirName",
                url: "/WebManage/Resource/GetRootGridJson",
                height: $(window).height() - 96,
                colModel: [
                    { label: '主键', name: 'id', width: 20, align: 'left', hidden: true, key: true },
                    { label: '文件夹', name: 'DirName', width: 700, align: 'left' },
                    {
                        label: '类型', name: 'Type', width: 80, align: 'center',
                        formatter: function (cellvalue) {
                            if (cellvalue == "0") {
                                return "文件夹";
                            } else if (cellvalue == "1") {
                                return "文件";
                            }
                        }
                    }
                ]
            });
        }

        function btn_delete() {
            $.deleteForm({
                url: "/WebManage/Resource/DeleteRoot",
                param: { keyValue: $("#gridList").jqGridRowValue().id },
                success: function () {
                    $("#gridList").resetSelection();
                   $("#gridList").trigger("reloadGrid");
                }
            })
        }

        function btn_upload() {
            $("#FilesUp").click();
        }

        function fileUploads() {
            uploadRootResourceFiles("FilesUp");
            $("#gridList").resetSelection();
            $("#gridList").trigger("reloadGrid");
            resetFileInput();
        }

        function resetFileInput() {
            var file = $("#FilesUp")
            file.val('');
        }
    </script>
}