/*transtation*/

.w-navwrap .navbar-nav>li:after,
.w-navwrap .navbar-nav li.active:after,
.w-navwrap .navbar-nav li:hover:after,
.w-secmenu,
.w-secmenu a:after,
.w-ind-tit em:after,
.w-news-img,
.mask,
.mask-btn,
.index-mask-btn,
.index-projectlist-mask-btn,
.w-news-adorn,
.w-partner-img,
.w-major-area,
.w-success-area,
.w-success-name p {
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}


/*index.css*/


/*nav*/

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background-color: #FFFFFF;
}


/*topcontent*/

.w-topcontent {
	color: #333;
	background-color: #f0f5f9;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}

.w-topcontinct a:hover {
	color: #32ccfe;
	background-color: #fff;
}

.w-topcontinct-top-img {
	width: 35px;
	height: 35px;
	font-size: 10px;
}


/*topcontinct*/

.w-topcontinct {
	color: #000;
	background-color: #fff;
}

.w-topcontinct-bb {
	border-bottom: 1px solid #ccc;
}

.w-navwrap-tb {
	border-top: 1px solid #ccc;
}

.w-topcontinct-top {
	overflow: hidden;
	padding-bottom: 20px;
	padding-top: 20px;
}

.navbar-fixed-top .navbar-collapse {
	max-height: 768px !important;
}

.navbar-main-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

.w-navwrap {
	background-color: #fff;
	border-width: 0;
	margin: 0 !important;
}

.w-navwrap .navbar-brand {
	padding: 5px;
	margin: 0 10px;
}

.w-navwrap .navbar-collapse {
	border: none !important;
	box-shadow: none !important;
}

.w-navwrap .navbar-nav {
	/*float: right;*/
}

.w-navwrap .navbar-nav>li {
	position: relative;
}

.w-navwrap .navbar-nav>li>a {
	color: #000;
}

.w-navwrap .navbar-nav>.active>a,
.w-navwrap .navbar-nav>.active>a:hover,
.w-navwrap .navbar-nav>.active>a:focus,
.w-navwrap .navbar-nav>li>a:hover,
.w-navwrap .navbar-nav>li>a:focus,
.w-navwrap .navbar-nav>.active:hover>a,
.w-navwrap .navbar-nav>li:hover>a {
	color: #30a4fd;
	background-color: #fff;
}

.w-navwrap .navbar-nav>li:after {
	width: 0;
	height: 4px;
	/*background:#6699cc;*/
	display: block;
	content: '';
	position: absolute;
	bottom: 0px;
	left: 50%;
}

.w-navwrap .navbar-nav li.active:after,
.w-navwrap .navbar-nav li:hover:after {
	width: 100%;
	bottom: 0px;
	left: 0;
}

.w-navwrap .navbar-toggle {
	border: none !important;
}

.w-navwrap .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle {
	background-color: #ccc;
}

.w-navwrap .navbar-toggle:hover,
.w-navwrap .navbar-toggle:focus {
	/*background-color: rgba(255,255,255,0.3) !important;*/
}

.navbar-toggle:focus .navbar-toggle:hover {
	background-color: #ccc;
}

.w-secmenu {
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 96px;
	z-index: 22222;
	height: 0;
	overflow: hidden;
	filter: alpha(opacity=0);
	opacity: 0.1;
	box-shadow: 0px 0px 10px #999;
}

.w-secmenu a {
	width: 100%;
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	padding: 6px 0;
	position: relative;
	display: block !important;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border-bottom: 1px solid #fff;
}

.w-secmenu a:hover {
	border-bottom: 0px solid #fff;
}

.w-secmenu a:after {
	height: 0;
	width: 100%;
	display: block;
	background: #348dae;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0.5;
}

.w-navwrap .navbar-nav>li:hover .w-secmenu {
	/*padding: 10px 0;*/
	filter: alpha(opacity=100);
	opacity: 1;
	height: auto;
	top: 50px;
}

.w-secmenu a:hover {
	color: #fff;
}

.w-secmenu a:hover:after {
	height: 100%;
}


/*course*/

.carousel-indicators li {
	background-color: #BABABA;
}

.carousel-indicators li.active {
	background-color: #32ccfe;
}

.carousel-inner item a {
	position: absolute;
}

.myCarousel-div-desc {
	width: 45%;
	height: 60%;
	background: rgba(0, 0, 0, 0);
	position: fixed;
	z-index: 99999;
	margin-left: 15%;
	white-space: nowrap;
	/*margin-top: -150px;*/
	top: 20%;
}

.myCarousel-div-text {
	width: 90%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	white-space: normal;
}

.myCarousel-div-optionbtn {
	/*background: rgba(0, 0, 0, 0.5);
    opacity: 0*/
	.2;
	z-index: 99999;
	float: right;
	width: 10%;
	bottom: 0px;
	right: 0px;
	position: absolute;
}

cursor: pointer;
width: 30px;
height: 30px;
background-color: red;

}
cursor: pointer;
width: 30px;
height: 30px;
background-color: black;

}
.myCarousel-div-optionbtn-next img {
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: white;
}
.myCarousel-div-optionbtn-next img:hover {
	cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: black;
}
.myCarousel-div-optionbtn-to {
	z-index: 99999;
	float: right;
	width: 20%;
	background-color: #FFA60A;
	text-align: center;
	bottom: 5%;
	left: 10%;
	position: absolute;
	color: #fff;
	font-size: 9px;
	border: 1px solid #FFA60A;
}
.myCarousel-div-optionbtn-to a {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.myCarousel-div-optionbtn-to a:hover {
	cursor: pointer;
	color: #fff;
}
.myCarousel-div-optionbtn-to-right {
	z-index: 99999;
	float: right;
	width: 20%;
	background-color: transparent;
	text-align: center;
	bottom: 5%;
	left: 30%;
	position: absolute;
	color: #fff;
	margin-left: 20px;
	border: 1px solid #fff;
	font-size: 9px;
}
.myCarousel-div-optionbtn-to-right a {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.myCarousel-div-optionbtn-to-right a:hover {
	cursor: pointer;
	color: #fff;
}

/*index-Licence*/
.w-Licence {
	background-color: #2d3e50;
	height: 80px;
	line-height: 80px;
	text-align: center;
	margin-top: -80px;
	color: #FFFFFF;
	align-items: center;
	position: absolute;
	width: 1000px;
}
.w-Licence div a:hover {
	color: #ffa60a;
}

/*index-cup*/
.div-cup-center {
	width: 100%;
	margin: 0 auto;
}
.div-cup-center div {
	padding: 1px;
}
.w-cup-area {
	box-sizing: border-box;
	width: 100%;
	/* height: 340px;*/
	margin: 0 auto;
	position: relative;
	max-width: 375px;
	background-color: #fff;
}
.w-cup-area:hover a {
	color: #FFFFFF;
}
.w-cup-area:hover .mask {
	opacity: 1;
	/*background-color: rgba(48, 164, 253, 0.52);*/
	/*filter: Alpha(opacity=100);*/
}
.w-cup-area:hover .mask-btn {
	top: 80%;
}

/*index-video*/
.w-ind-wrap-video {
	padding: 10px 0;
	overflow: hidden;
}
#div-video-show {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*index-news*/
.w-ind-wrap {
	padding: 50px 0;
	overflow: hidden;
}
.w-news-wrap {
	background-color: #7ba1a8;
}
.w-ind-tit {
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	margin: 0px auto 30px;
}
.w-ind-tit a {
	color: #333;
	display: inline-block;
	min-width: 200px;
}
.w-ind-tit a:hover,
.w-ind-tit a:focus {
	color: #333 !important;
}
.w-ind-tit em {
	height: 40px;
	margin-bottom: 5px;
	display: block;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.w-ind-tit em:after {
	width: 45px;
	height: 3px;
	background: #32ccfe;
	display: block;
	content: '';
	position: absolute;
	bottom: -2px;
	left: 40%;
}
.w-ind-tit span {
	display: block;
	font-size: 18px;
	font-weight: normal;
	font-family: Georgia;
	text-transform: uppercase;
}
.w-ind-wrap:hover em:after {
	width: 100%;
	left: 0;
}
.w-news-area {
	box-sizing: border-box;
	width: 100%;
	/* height: 340px;*/
	margin: 10px auto;
	position: relative;
	max-width: 375px;
	background-color: #fff;
}
.w-news-href {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	z-index: 999999;
	opacity: 0;
	background-color: transparent;
	display: none;
}
.w-course-img {
	position: relative;
	width: 100%;
	height: 220px;
	overflow: hidden;
}
.w-news-img {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.w-news01 {
	background-image: url("../image/news1.jpg");
}
.w-news02 {
	background-image: url("../image/news2.jpg");
}
.w-news03 {
	background-image: url("../image/news3.jpg");
}
.w-news04 {
	background-image: url("../image/news4.jpg");
}
.w-news05 {
	background-image: url("../image/news5.jpg");
}
.w-news06 {
	background-image: url("../image/news6.jpg");
}
.w-course-img .mask {
	background: rgba(0,
	0,
	0,
	0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	opacity: 0;
	filter: Alpha(opacity=0);
}
.w-course-img .mask-btn {
	position: absolute;
	top: 100%;
	left: 50%;
	/*border: 1px solid #fff;*/
	font-size: 12px;
	padding: 0 8px;
	width: 120px;
	/*border-radius: 16px;*/
	display: inline-block;
	text-align: center;
	height: 32px;
	line-height: 32px;
	transform: translate(-50%,
	-50%);
	-webkit-transform: translate(-50%,
	-50%);
	-moz-transform: translate(-50%,
	-50%);
	-ms-transform: translate(-50%,
	-50%);
	-o-transform: translate(-50%,
	-50%);
	background-color: #ffa60a;
	/*background-color: cornflowerblue;*/
}
.mask-span {
	color: #FFFFFF;
	margin-left: 10%;
	position: absolute;
	top: 10%;
}
.mask-span-short {
	color: #ffa60a;
	margin-left: 10%;
	position: absolute;
	top: 20%;
	font-size: 12px;
}
.w-news-area:hover {
	/*box-shadow: 0px 0px 10px #999;*/
}
.w-news-area:hover .w-news-img {
	/*transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);*/
}
.w-news-area:hover a {
	color: #FFFFFF;
}
.w-news-area:hover .mask {
	opacity: 1;
	/*background-color: rgba(48, 164, 253, 0.52);*/
	/*filter: Alpha(opacity=100);*/
}
.w-news-area:hover .mask-btn {
	top: 80%;
}
.w-news-cont {
	width: 100%;
	height: 220px;
	box-sizing: border-box;
	padding: 20px;
}
.w-news-tit {
	color: #666;
	font-weight: 600;
	font-size: 20px;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	margin: 10px 0;
}
.w-news-text {
	color: #999;
	letter-spacing: 2px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	overflow: hidden;
	width: 100%;
	height: 40px;
	line-height: 18px;
	font-size: 14px;
}

/*index-project*/
.div-project-center {
	width: 100%;
	height: 450px;
	/*border: 1px solid black;*/
	position: relative;
}
.div-project-center ul li {
	margin-top: 10px;
}
.div-project-center-btn-img {
	cursor: pointer;
	width: 50px;
	height: 50px;
}

/*.div-project-center ul li img:hover{ 
	cursor: pointer;
	width: 60px;
	height: 60px;
}*/
.div-project-center-btn-img-active {
	cursor: pointer;
	width: 60px;
	height: 60px;
}
.div-project-center-btn {
	position: relative;
	z-index: 999;
}
.div-project-center-text {
	width: 100%;
	height: 100%;
	/*background-color: red;*/
	position: absolute;
	top: 0px;
	margin-left: 25px;
}
.div-project-center-left {
	width: 80%;
	height: 80%;
	background-color: #f0f5f9;
}
.div-project-center-left-text {
	width: 30%;
	height: 80%;
	margin-left: 5%;
	margin-top: 25px;
	position: absolute;
}
.div-project-center-right {
	width: 60%;
	height: 80%;
	background-color: black;
	position: absolute;
	bottom: 0px;
	right: 25px;
}

/*index parents*/
.w-partner-wrap {
	background-color: #3c5e91;
}
.w-partner-area {
	background-color: #fff;
	position: relative;
	height: 140px;
	overflow: hidden;
	line-height: 140px;
	text-align: center;
	margin: 20px auto;
	cursor: pointer;
}
.w-partner-img {
	display: inline-block;
	max-width: 80%;
	max-height: 80%;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.w-partner-area:hover .w-partner-img {
	filter: alpha(opacity=100);
	opacity: 1;
}

/*major*/
.w-major-wrap {
	background-color: #fff;
}
.w-major-area {
	position: relative;
	margin: 20px auto;
	text-align: center;
	overflow: hidden;
	height: 120px;
}
.w-major-img {
	display: inline-block;
	max-width: 70%;
	max-height: 70%;
}
.w-major-text {
	text-align: center;
	color: #666;
	display: block;
	font-size: 18px;
	margin-top: 10px;
}
.w-major-area:hover {
	box-shadow: 0px 0px 10px #999;
	transform: translateY(-10px);
	padding: 10px 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
}

/*success*/
.w-success-wrap {
	background-color: #5c5c5c;
}
.w-success-area {
	position: relative;
	margin: 20px auto;
	text-align: center;
	overflow: hidden;
	max-width: 400px;
	background-color: #fff;
	border-radius: 5px;
	padding-bottom: 10px;
}
.w-success-img {
	width: 100%;
	height: 140px;
	background-image: url("../image/success1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.w-success-name {
	padding: 10px;
}
.w-success-name p {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	padding-bottom: 10px;
}
.w-success-name p:first-child {
	color: #32ccfe;
}
.w-success-name p:last-child {
	border-bottom: 1px solid #999;
	color: #333;
}
.w-success-text {
	padding: 10px;
}
.w-success-text p {
	max-height: 310px;
	overflow: hidden;
	font-size: 14px;
	word-break: break-all;
	text-align: left;
	line-height: 26px;
}
.w-success-area:hover {
	color: #fff;
	background-color: #32ccfe;
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	box-shadow: 0px 0px 10px #999;
}
.w-success-area:hover .w-success-name p:first-child {
	color: #fff;
}
.w-success-area:hover .w-success-name p:last-child {
	color: #fff;
}

/*footer*/
.w-footer {
	color: #fff;
	/*border-top: 2px solid #32ccfe;*/
	background-color: #1a1a1a;
	background-image: url(../image/footBg.png);
	/*margin-top: -300px;*/
	margin-top: 20px;
	height: 235px;
}
.w-footer a:hover {
	color: #32ccfe;
}
.w-footer-top {
	overflow: hidden;
	/*padding-bottom: 40px;*/
	padding-top: 10px;
}
.w-footer-top-cent {
	margin-top: 30px;
}
.w-footer-top-cent-textdetail {
	margin-top: 30px;
	color: #999999;
	font-size: 12px;
}
.w-footer-top-cent-textdetail img {
	width: 35px;
	height: 35px;
}
.w-footer-top-cent-textdetail span {
	margin-left: 10px;
}
.w-footer-top-dl {
	padding: 24px 15px 0px 15px;
	text-align: center;
	overflow: hidden;
}
.w-footer-top-cent-textdetail-tel-icon {
	position: absolute;
}
.w-footer-top-cent-textdetail-tel-text {
	margin-left: 45px;
	margin-top: -10px;
}
.w-footer-top-dt {
	float: left;
	width: 100%;
	font-weight: normal;
	font-size: 1.0em;
	color: #eee;
	padding-bottom: 12px;
}
.w-footer-top-dt a {
	color: #eee;
	text-decoration: none;
}
.w-footer-top-dd {
	width: 100%;
	float: left;
	line-height: 24px;
	font-size: 0.8em;
}
.w-footer-top-dd a {
	color: #ccc;
	text-decoration: none;
}
.w-footer-bottom {
	padding: 20px 0px;
	line-height: 20px;
	text-align: center;
	color: #999999;
	font-size: 0.8em;
	/*border-top: 1px solid #333;*/
	background-color: #1a1a1a;
}
.w-footer-bottom a {
	color: #fff;
}
.w-footer-bottom-nv {
	position: relative;
	float: right;
}
.w-footer-bottom-nv ul li {
	margin-left: 10px;
	float: left;
	color: #778a9e;
}
.toyear {
	color: #fff;
	padding: 0px 5px;
}
.w-footer-top-dl:last-child {
	float: right;
}
.w-qrcode {
	max-width: 80%;
	max-height: 80%;
}
.w-cup-area {
	box-sizing: border-box;
	width: 100%;
	/* height: 340px;*/
	margin: 5px auto;
	position: relative;
	max-width: 375px;
	background-color: #fff;
}

/*index-news*/
.w-news-wrap-div-title {
	font-size: 15px;
	text-align: center;
}
.d-new-center-a:hover {}
.w-news-item-center {
	box-sizing: border-box;
	width: 100%;
	/* height: 340px;*/
	margin: 20px auto;
	position: relative;
	max-width: 375px;
	border: 1px solid #f2f2f2;
}
.d-new-center {
	margin-top: 20px;
}
.w-news-item-center-img {
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.w-news-item-center-img img {
	position: absolute;
	margin-top: -35px;
	right: 20px;
}
.w-news-item-center-span-title {
	color: #000;
	margin-left: 10%;
	position: absolute;
	top: 10%;
	font-size: 15px;
}
.w-news-item-center-span-title-hover {
	color: #74b3e9;
	margin-left: 10%;
	position: absolute;
	top: 10%;
	font-size: 15px;
}
.w-news-item-center-img-text {
	color: #bbbdbf;
	margin-left: 10%;
	margin-right: 10%;
	position: absolute;
	top: 20%;
	font-size: 12px;
	height: 60%;
}
.w-news-item-center-span-date {
	margin-left: 10%;
	position: absolute;
	bottom: 10%;
	font-size: 15px;
	color: #74b3e9;
}

/*inex-lender*/
.div-lender-row {
	margin-top: 50px;
}
.w-lender-area {
	box-sizing: border-box;
	width: 100%;
	/* height: 340px;*/
	margin: 5px auto;
	max-width: 320px;
	margin-bottom: 80px;
}
.w-lender-area-center {
	width: 100%;
	height: 220px;
	overflow: hidden;
	border: 2px solid #2d3e50;
}
.w-lender-area-center-hover {
	width: 100%;
	height: 220px;
	overflow: hidden;
	border: 2px solid #0c95ff;
}
.w-lender-area-center-img {
	width: 60%;
	height: 220px;
	position: absolute;
	left: 20%;
	top: -40px;
}
.w-lender-area-center-img img {
	width: 100%;
	height: 100%;
}
.w-lender-area-center-text {
	width: 100%;
	height: 60px;
	background-color: #2d3e50;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-top: 160px;
}
.w-lender-area-center-text-hover {
	width: 100%;
	height: 60px;
	background-color: #0c95ff;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	position: relative;
	margin-top: 160px;
}
.w-lender-area-center-text-zh {
	line-height: 1.5;
	position: relative;
	top: 8px;
	color: #ffffff;
}
.w-lender-area-center-text-en {
	line-height: 1.5;
	position: relative;
	top: 5px;
	color: #74b3e9;
}
.w-lender-area-center-text-en-hover {
	position: relative;
	top: 5px;
	color: #ffffff;
}
#div_company_pos {
	min-height: 300px;
	background-color: #f0f5f9;
	text-align: center;
}
.div-company-pos-title {
	line-height: 150px;
	color: #ffa60a;
	font: bold;
	letter-spacing: 3px;
	font-size: 28px;
	text-align: center;
}
.div-company-pos-desc {
	width: 50%;
	margin: 0 auto;
	position: relative;
	top: -50px;
	font-size: 14px;
}
#index_div_company_cul {
	min-height: 300px;
	background-color: #2c3e50;
	text-align: center;
}
#index_div_company_cul .div-company-pos-desc {
	width: 50%;
	margin: 0 auto;
	position: relative;
	top: -50px;
	color: #fff;
	font-size: 26px;
}
#div_company_cul {}
.div-company-cul-img {
	/*height: 300px;*/
}
.div-company-cul-img img {
	width: 100%;
}

/*index-cup*/
.d-company-cul {
	width: 900px;
}
.div-company-cul-show {
	position: relative;
	top: -300px;
}
.d-company-cul-title {
	color: #FFFFFF;
}
.d-company-cul-center {
	background-color: #FFFFFF;
}
.w-cul-area {
	box-sizing: border-box;
	width: 100%;
	/* height: 340px;*/
	position: relative;
	margin-top: 5px;
	max-width: 375px;
	background-color: #fff;
}
.d-company-cul-item {
	padding: 5px 5px;
}
.w-company-cul-item-center {
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.w-company-cul-img img {
	position: relative;
	width: 100%;
	height: 220px;
	overflow: hidden;
}
.w-company-cul-date {
	position: relative;
	text-align: center;
	background-color: #0c95ff;
	width: 50%;
	margin: 0 auto;
	border-radius: 10px;
	top: -15px;
}
.w-company-cul-date span {
	background-color: #0c95ff;
	color: #FFFFFF;
}
.w-company-cul-text-title {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	color: #000;
}
.w-company-cul-text-context {
	margin: 0 auto;
	width: 75%;
	text-align: center;
	color: #000;
	font-size: 12px;
}
.w-company-cul-text-btn {
	margin: 0 auto;
	width: 75%;
	text-align: center;
	font-size: 12px;
	position: relative;
	bottom: -10px;
}
.w-company-cul-text-btn a {
	color: #0c95ff;
}

/*******index satrt*******/

/********nv start**************/
.div-index-nv {
	margin-top: 60px;
}
.div-index-nv ul li {
	margin-left: 15px;
	margin-right: 15px;
}
.div-index-nv ul li a:hover {
	color: #FFA60A;
}
.navbar-nav-active a {
	color: #FFA60A !important;
}

/********nv end**************/
.index-carous-btn-left {
	height: 40px;
	top: 50%;
	width: 50px;
	left: 50px;
	background: none !important;
}
.index-carous-btn-right {
	height: 40px;
	top: 50%;
	width: 50px;
	right: 50px !important;
	background: none !important;
}
.index-ry-list {
	width: 20% !important;
}
.index-mask-btn {
	position: absolute;
	top: 100%;
	left: 30%;
	/*border: 1px solid #fff;*/
	font-size: 18px;
	padding: 0 8px;
	width: 120px;
	/*border-radius: 16px;*/
	display: inline-block;
	text-align: center;
	height: 32px;
	line-height: 32px;
	transform: translate(-50%,
	-50%);
	-webkit-transform: translate(-50%,
	-50%);
	-moz-transform: translate(-50%,
	-50%);
	-ms-transform: translate(-50%,
	-50%);
	-o-transform: translate(-50%,
	-50%);
	background-color: #ffa60a;
	font-size: 12px;
}
.w-cup-area:hover .index-mask-btn {
	top: 80%;
}
.index-projectlist-mask-btn {
	position: absolute;
	top: 100%;
	left: 30%;
	/*border: 1px solid #fff;*/
	font-size: 18px;
	padding: 0 8px;
	width: 120px;
	/*border-radius: 16px;*/
	display: inline-block;
	text-align: center;
	height: 32px;
	line-height: 32px;
	transform: translate(-50%,
	-50%);
	-webkit-transform: translate(-50%,
	-50%);
	-moz-transform: translate(-50%,
	-50%);
	-ms-transform: translate(-50%,
	-50%);
	-o-transform: translate(-50%,
	-50%);
	background-color: #ffa60a;
	font-size: 12px;
}
.w-course-img:hover .index-projectlist-mask-btn {
	top: 80%;
}
.w-projectlist-top {
	margin-top: 50px;
}
.w-ind-tit-ry-all {
	font-size: 22px;
	line-height: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
}
.w-ind-tit-ry {
	width: 70%;
	font-size: 22px;
	line-height: 30px;
	margin-left: 15px;
}
.index-projectlist-title {
	color: white;
	margin-top: 150px;
	letter-spacing: 10px;
}
.w-ind-tit-title-left {
	font-size: 28px;
	color: #000;
}
.w-ind-tit-title-right {
	font-size: 28px;
	color: #ffa60a;
	margin-left: 10px;
}
.w-ind-tit-title-cent {
	font-style: italic;
	color: #777777;
	font-size: 18px;
}
.index-ulContent-left-text-ul {
	margin-top: 10px;
}
.index-ulContent-left-text {
	width: 80%;
	text-align: right;
	font-size: 9px;
}
.index-ulContent-left-text a:hover {
	color:#ffa60a;
}
.index-ulContent-left-text-title {
	font-size: 16px;
}
.index-ulContent-left-text-cent {
	color: #777777;
	font-size: 12px;
}
.index-ulContent-left-img {
	/*float: right;*/
}
.index-ulContent-left-img img {
	width: 65px;
	height: 65px;
}
.index-ulContent-right-text-ul {
	margin-top: 10px;
}
.index-ulContent-right-text {
	text-align: left;
	font-size: 9px;
	margin-left: 20px;
	width: 80%;
}
.index-ulContent-right-text a:hover {
	color:#ffa60a;
}
.index-ulContent-right-text-title {
	font-size: 16px;
}
.index-ulContent-right-text-cent {
	color: #777777;
	font-size: 12px;
}
.index-ulContent-right-img {
	position: absolute;
	left: -10px;
	width: 65px;
	height: 65px;
}

/*******index end*******/

/*******honer start*******/
/*.honor-div-cent-all-right a{
	
	margin-bottom: 10px;
}*/

.honor-div-cent-all-right{
	position: relative;
	width: 100%;
	margin-left: 10%;
	padding-bottom: 20px;
}
.honor-div-cent-all-right ul li{
	padding-bottom: 10px;
}
.honor-cent-right-nv{
	background-color: #f1f1f1; 
	height: 40px;
	line-height: 40px;
}
.honor-cent-right-nv span{
	color: #777777;
	font-size: 14px;
}
.honor-cent-right-nv-sp-title{
	margin-left: 20px;
	
}
.honor-cent-right-nv-sp-ic{
	position: absolute;
	right: 20px;
}
.honor-cent-nv-active{
	 background-color:#ffa60a;
	 color: white;
}
.honor-cent-nv-active span{
	 background-color:#ffa60a;
	 color: white;
}
.honor-div-cent-right-btext{
	border: 2px solid #f1f1f1; 
	text-align: center;
	height: 160px; 
}
.honor-div-cent-right-btext div{ 
	margin-top: 50px;
}
.honor-div-cent-right-btext-title{ 
	font-size: 16px;
	color: #000;
}
.honor-div-cent-right-btext-cent{ 
	font-size: 18px;
	color: #777777;
}
/*******honer end*******/

/*******culture start*******/
.culture-div-title{
	margin-top: 20px;
	margin-bottom: 10px;
	height: 30px;
}
.culture-div-title img{
	height: 30px;
}
.culture-div-title span{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 6px;
}
.culture-div-item{
	margin-top: 10px;
	height: 50px;
	border-bottom: 1px solid #f1f1f1;
}
.culture-div-item img{
	height: 12px;
}
.culture-div-item a{
	margin-left: 10px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 4px;
}
.culture-div-item a:hover{
	color:#ffa60a;
}
/*******culture end*******/

/*******projectinfo start*******/

.project-div-cent-all {
	padding: 2px 0;
	overflow: hidden;
}
.projectinfo-cent-right-img{
	width: 270px;
	height: 180px;
	margin-bottom: 20px;
}
/*******projectinfo end*******/

/*******comm start*******/

.comm_div_banner {
	min-height: 300px;
	text-align: center;
}
.comm_div_cent_all {
	padding-bottom: 30px;
	margin: 0 auto;
}
.comm-div-search-div{
	width: 200px;
	height: 35px; 
	border: 1px solid #f1f1f1;
} 
.comm-div-search-text{
	/*color: #f1f1f1;*/
	width: 100%;
	height: 35px;
	line-height: 30px;
	border:none;
	outline: medium;
	position: absolute;
	padding-right: 35px;
} 
.comm-div-search-div a button{
	width: 35px;
	height: 35px;
	background-color: transparent;
	background-image: url(../image/scech_icon.png);
	background-repeat: no-repeat;
	background-position: left; 
	border: none;
	position: absolute;
	right: 0px;
}
/*******comm end*******/